* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  background-color: #fffef6;

}

.container{
  padding-left: 8%;
  padding-right: 8%
}

@media (min-width: 0px) and (max-width: 600px){
  .container {
    padding-left: 5%;
    padding-right: 5%
  }
}
